<div class="container text-center col-sm-6 sign_up_container">
  <h2 class="p-3">Create User Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group d-inline-block namefield">
      <%= f.text_field :first_name, autofocus: true,class: "form-control first_name", autocomplete: "first_name", placeholder: "First name" %>
    </div>

    <div class="form-group d-inline-block namefield">
      <%= f.text_field :last_name, autofocus: true,class:"form-control last_name", autocomplete: "last_name", placeholder: "Last name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true,class:"form-control", autocomplete: "email", placeholder: "Email"%>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class:"form-control", autocomplete: "new-password", placeholder: "Password" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
