<div class="well replies">
  <p class="text-muted">Added by <strong><%= comment.author %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <li><blockquote>
    <p><%= comment.body %></p>
    <div class="link">
      <p>
        <%= link_to 'Reply', user_post_comment_replies_path(comment_id:comment.id,user_id: comment.user_id,post_id: comment.post_id ), remote: true %>
      </p>
    </div>
    <div class= "show_<%= comment.id %>" ></div>
    <% child = comment.replies %>
    <% if child.length !=0 %>
      <ul><%= render child %></ul>
    <% end %>
  </blockquote></li>
</div>
