<div class="post-card col-sm-12" style="padding:0; margin-bottom:20px;">
  <div class="logoname">
    <h5>
      <span><img src="<%= asset_path( 'img1.png' ) %>", class="logoimage" /></span>
      <span class="small"><%= post.user.first_name  + " " + post.user.last_name %></span>
      <p><span class="small">Posted by: <%= link_to (post.author), user_path(post.user_id) %> on <%= l(post.created_at, format: '%B, %d %Y %H:%M:%S') %>
     <span></p>

    </h5>
  </div>
  <div class="post_card_container col-sm-12">
    <div class="post">
      <div class="col-sm-2 p-1 float-right">
        <% if current_user.admin? || post.user_id == @user.id %>
          <button type="button" class="p-2 btn btn-light float-right">
            <a class="" href="#" id="navbardrop" class="allfeed" data-toggle="dropdown">
              <span class="p-3"><i class="fa fa-ellipsis-v dot text-dark" style="font-size:20px;color:black"></i></span>
            </a>
            <div class="dropdown-menu">
              <div class="delete">
                <%= link_to "Delete Post", user_post_path(@user, post), data: { confirm: "Are you sure?" }, method: :delete, class: "commentlink text-secondary" %>
              </div>
            </div>
          </button>
        <% end %>
      </div>
      <div class="title">
        <h2><%= post.title %></h2>
      </div>
      <div class="body-trunc">
        <p><%= post.body %></p>
      </div>
      <div class="tags">
        <%=raw post.all_tags %>
      </div>
      <div class="footer body-auth">
        <p><%= post.author %></p>
        <p><%= post.private %></p>
        <p><%= post.user_id %></p>
      </div>
    </div>
    <div class="image_container">
      <% if post.image.attached? %>
        <%= image_tag url_for(post.image), class: "image" %>
      <% end %>
    </div>

  </div>
  <div class="postlikecontainer row col-sm-12">
    <div class="p-2 col-sm-6 d-flex flex-row">
      <%= link_to user_post_comments_path(@user,post.id), :class => 'button white commentlink', remote: true do %>
      <span class="text-dark"><i class="fa fa-comments-o" style="font-size:20px;color:black"></i>
        Comments
      </span>
      <% end %>
    </div>
    <div class="p-2 col-sm-6 d-flex flex-row-reverse like_<%= post.id %>">
      <% if post.likes.where(user_id:current_user.id).to_a !=[] %>
        <%= render partial: 'unlike', locals: { post: post } %>
      <% else  %>
        <%= render partial: 'like', locals: { post: post } %>
      <% end %>

    </div>
  </div>
  <div class="commentbox_container row col-sm-12 comments_<%= post.id %>" style="margin:0;padding:0">
  </div>
</div>
