<div class="post-card col-sm-12" style="padding:0">
  <div class="logoname">
    <h5>
      <span><img src="<%= asset_path( 'img1.png' ) %>", class="logoimage" /></span>
      <span class="small"><%= post.user.first_name  + " " + post.user.last_name %></span>
      <p><span class="small">Posted by: <%= link_to (post.author), user_path(post.user_id) %> on <%= l(post.created_at, format: '%B, %d %Y %H:%M:%S') %>
     <span></p>

    </h5>
  </div>
  <div class="post_card_container row col-sm-12">
    <div class="post col-sm-6">
      <div class="title">
        <h2><%= post.title %></h2>
      </div>
      <div class="body-trunc">
        <p><%= post.body %></p>
      </div>
      <div class="footer body-auth">
        <p><%= post.author %></p>
        <p><%= post.private %></p>
        <p><%= post.user_id %></p>
      </div>
    </div>
    <div class="image_container col-sm-6">
      <% if post.image.attached? %>
        <%= image_tag url_for(post.image), class: "image" %>
      <% end %>
    </div>
  </div>
  <div class="postlikecontainer row col-sm-12">
    <div class="p-2 col-sm-6 d-flex flex-row">
      <%= link_to '#', :class => 'button white' do %>
      <span class="text-dark"><i class="fa fa-comments-o" style="font-size:20px;color:black"></i>
        Comments<%user_post_comments_path(@user.id,post.id) %>
      </span>
      <% end %>
    </div>
    <div class="p-2 col-sm-6 d-flex flex-row-reverse">
      <span class="text-dark"><i class="fa fa-thumbs-o-up" style="font-size:20px;color:black"></i>
      Like </span>
    </div>
  </div>
  <% time =  (Time.parse(DateTime.now.to_s) - Time.parse(post.created_at.to_s))/3600 %>

    <%= render :partial => '/comments/new', locals: {user_id: post.user_id, post_id: post.id} %>
    <% parents = post.comments.where("parent_id IS ?",nil) %>
    <% if parents.length !=0 %>
      <ul><%= render parents %></ul>
    <% end %>
    <!-- <%= render post.comments %> -->
</div>
