<header class="m-1 navbar bg-dark">
  <div class="col-sm-2 flex-row">
    <button type="button" class="col-sm-2 btn btn-dark">
      <a class="dropdown-toggle" href="#" id="navbardrop" class="logout float-right" data-toggle="dropdown">
        <span><img src="<%= asset_path( 'logoout.png' ) %>", class="logoutimage bg-light" /></span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">
          <%= link_to('Edit Profile', edit_user_registration_path) %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </a>
      </div>
    </button>
  </div>
  <div class="col-sm-10">
    <form class="float-right">
      <input type="text" placeholder="Search.." name="search" id="search" onsubmit="searchKey()" user_id="<%= current_user.id%>" onkeyup="searchKey()" autofocus=true, remote=true>
      <i class="fa fa-search text-light" style="font-size:20px;"></i>
    </form>
  </div>
</header>

<div class="d-inline-block searchuser w-100 col-sm-12">
</div>

<div class="m-2 container-fluid main_container">
  <div class="profile_container col-sm-3 border-right">
    <div class="profile">
      <div class="logo_name">
        <span class="d-flex justify-content-center"><img src="<%= asset_path( 'download.jpeg' ) %>", class="logout_image bg-light " /></span>
        <h5 class="d-flex justify-content-center">
          <div><%= @user.first_name  + " " + @user.last_name %></div>
        </h5>
        <h6 class="text-primary p-2 d-flex justify-content-center"><%= @user.email %></h6>
      </div>
    </div>
    <div class="follow">
      <div class="p-3 text-center col-sm-6">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong></br>
        following
      </div>
      <div class="p-3 text-center col-sm-6">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong><br>
          followers
      </div>
    </div>
    <div class="follow_button">
      <% unless current_user.id == @user.id %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <% if current_user == @user %>
        <%= button_to 'New Post', new_user_post_path(@user.id), method: :get, class:"p-2 bg-success w-100", remote:true %>
      <% end %>
    </div>
    <div class= "newpost"></div>
    <div class="h6 p-3 lead">
      <% if current_user.admin? %>
        <div class="d-inline-block float-left">
          <%= link_to "View Users", users_path, method: :get %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="post_container col-sm-9">
    <% if current_user != @user %>
      <div id="link_path">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", users_path, method: :get %></li>
            <li class="breadcrumb-item"><%= link_to current_user.first_name, current_user, method: :get %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @user.first_name %></li>
          </ol>
        </nav>
      </div>
    <% else %>
    <input type="text" id="feedtype" name="feedtype"></input>
    <div class="btn-group btn-group-sm" id="buttoncontainer">
      <button type="button" class="p-3 btn btn-dark">
        <%= link_to "All Feed", user_allfeed_path(@user), method: :get, remote:true, class:"text-light", id:"allfeed" %>
      </button>
      <button type="button" class="p-2 btn btn-dark">
        <%= link_to "Personal Feed", user_personalfeed_path(@user), method: :get, remote:true, class:"text-light", id:"personalfeed"%>
      </button>
      <button type="button" class="p-2 btn btn-dark">
        <a class="dropdown-toggle" href="#" id="navbardrop" class="allfeed" data-toggle="dropdown">
          <span class="allfeed">Filter by</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" remote=true id="lastday" user_id="<%= @user.id %>" type="lastday">Last Day</a>
          <a class="dropdown-item" remote=true id="lastweek" user_id="<%= @user.id %>" type="lastweek">Last Week</a>
          <a class="dropdown-item" remote=true id="lastmonth" user_id="<%= @user.id %>" type="lastmonth">Month</a>
        </div>
      </button>
      <button type="button" class="p-2 btn btn-dark">
        <a class="dropdown-toggle" href="#" id="navbardrop" class="allfeed" data-toggle="dropdown">
          <span class="allfeed">Sort by</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" remote=true id="sortbylike" user_id="<%= @user.id %>">Likes</a>
        </div>
      </button>
    </div>
    <% end %>
    <div><p><div id="log">
    </div></p></div>
    <div class="container-fluid main_post_container">
        <div class="show">
          <%= render partial: 'showpost', locals: { posts: @posts } %>
        </div>
    </div>
  </div>
</div>
