<div class="container-fluid">
  <%= render 'devise/menu/login_items' %>
  <% if current_user.admin? %>
    <div class="p-3 d-inline-block navbar float-right">
      <%= link_to "Remove User", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
    <div class="p-3 d-inline-block navbar float-right">
      <% if @user.admin? %>
        <%= link_to "cancel Admin_Role", admin_access_user_path, data: { confirm: "Are you sure?" }, method: :post %>
      <% else %>
        <%= link_to "Assign Admin_Role", admin_access_user_path, data: { confirm: "Are you sure?" }, method: :post %>
      <% end %>
    </div>
    <div class="p-3 d-inline-block navbar float-right">
      <% if @user.banned? %>
        <%= link_to "Unban User", ban_user_user_path, data: { confirm: "Are you sure?" }, method: :post %>
      <% else %>
        <%= link_to "Ban User", admin_ban_user_user_path, method: :get %>
      <% end %>
    </div>
    <div class="p-3 d-inline-block navbar float-right">
      <%= link_to 'Back', users_path %>
    </div>
  <% else %>
    <%= render 'devise/menu/registration_items' %>
    <div class="p-3 d-inline-block navbar float-right">
      <%= link_to 'New Post', new_user_post_path(@user.id), method: :get, class:"text-success" %>
      <% if !current_user.admin? %>
        <a href='#' class="p-3 allfeed" onclick="onClicked(event)"> All Feed </a>
      <% end %>
    </div>
  <% end %>
</div>

<%= @user.first_name  + " " + @user.last_name %>
<div class="wrapper">
  <div class="title">
    <h1>Blog</h1>
    <p>New posts will be displayed in realtime</p>
  </div>
  <div>
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      following
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      followers
    <% unless current_user.id == @user.id %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="posts" id="post_section">
    <% @posts.each do |post| %>
      <div class="post_card_container">
        <% unless post.private? && current_user.id != post.user_id && !current_user.admin?|| post.user_id != @user.id%>
        <%= render partial: 'post_card', locals: { post: post } %>
          <% if current_user.admin? || post.user_id == @user.id %>
            <div class="delete">
              <%= link_to "Delete Post", user_post_path(@user, post), data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="posts hidden" id="post_public_section">
    <% @posts.each do |post| %>
        <% if current_user.id != post.user_id %>
          <% @u = User.find(post.user_id) %>
          <% if current_user.following?(@u) %>
            <%= render partial: 'post_card', locals: { post: post } %>
          <% elsif !post.private? %>
            <%= render partial: 'post_card', locals: { post: post } %>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
