<div class="title">
  <h1>Live Blog</h1>
  <p>Editor View</p>
</div>

<div style="text-align:center" class="container col-sm-6">
  <p><strong>Fill and submit the form below to create a new post</strong></p>
  <%= form_with scope: :post, url: user_post_index_path, class:"col-sm-12 form_container", local: true do |form| %>
  <table class="table_container">
    <tr class="row_container">
    <div class="form-group">
      <td><%= form.label :title %><br></td>
      <td><%= form.text_field :title, class:"form-control" %></td>
    </div>
    </tr>
    <tr class="row_container">
    <div class="form-group">
      <td class="float-left"><%= form.label :postmedia %><br></td>
      <td><%= form.file_field :image, class:"form-control" %></td>
    </div>
    </tr>
    <tr class="row_container">
    <div class="form-group">
      <td class="float-left"><%= form.label :postauthor %><br></td>
      <td><%= form.text_field :author, class:"form-control", :value => @user.email, :readonly => true %></td>
    </div>
    </tr>
    <tr class="row_container">
    <div class="form-group">
      <td class="float-left"><%= form.label :postcontent %><br></td>
      <td><%= form.text_area :body, class:"form-control", col:"30", rows:"10", maxlength:"100" %></td>
    </div>
    </tr>
    <tr class="row_container">
    <div class="form-group">
      <td class="float-left"><%= form.label :Private %><br></td>
      <td><%= form.check_box :private, class:"form-control" %></td>
    </div>
    </tr>
    <tr class="row_container">
    <div class="from-group">
      <td colspan="2"><%= form.submit :createpost, class:"p-3 form-control btn" %></td>
    </div>
    </tr>
  </table>
  <% end %>
</div>
